.list_container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
    padding: 0 40px;
    box-sizing: border-box;
}
.list_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 260px;
    height: 380px;
    margin: 0 20px;
    border-radius: 15px;
}
.image_container{
    height:250px ;
}
.list_item:hover{
    border: 1px solid rgb(96, 202, 235) ;
    border-radius: 15px;
    color: rgb(96, 202, 235);
    box-shadow: 0px 0px 26px 8px rgba(29, 135, 217, 0.2);
}
.list_item_img{
    width: 100%;
    height: 200px;
}
.list_item_name{
    text-align: center;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    height: 70px;
    width: 100%;
    
    
}
.list_item_price{
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    text-align: center;
}
.list_title{
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    text-align: center;
    
}
.add_delete_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.add_delete_buttons a{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.add_delete_buttons h3{
    text-align: center  ;
}
.minus{
    width: 30px;
    height: 30px;
}
.plus{
    width: 30px;
    height: 30px;
}
.likelist_item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 260px;
    height: 380px;
    margin: 0 20px;
    border-radius: 15px;

}
.likelist_item:hover{
    border: 1px solid rgb(96, 202, 235) ;
    border-radius: 15px;
    color: rgb(96, 202, 235);
    box-shadow: 0px 0px 26px 8px rgba(29, 135, 217, 0.2);
}
.likelist_name{
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    text-align: center;
    height: 70px;
    
}
.likelist_item img{
    width: 100%;
    height: 200px;
}
.likelist_price{
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    text-align: center;
}
.remove_button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    
}
.remove_button a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    transition: .4s;
}
.remove_button a:hover{
    color: red;
}
.remove_button img{
    position: absolute;
    top: 4px;
    width: 30px;
    height: 30px;
    
}
.no_prod_liked{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.no_prod_liked h2{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    margin-bottom: 500px;
}
.your_product h3{
    font-family: "Quicksand", sans-serif;
    font-size: 22px
}
