.background{
    display: flex;
    justify-content: center;
    background-image: url("../images/register_background2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 850px;
}
.login_background{
    display: flex;
    justify-content: center;
    background-image: url("../images/background1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}
.registration{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 25px;
    margin-top: 70px;
}
.log_in{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 400px;
    height: 350px;
    background-color: white;
    border-radius: 25px;
    margin-top: 70px;
}
.log_in h2{
    font-family:'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}
.registration h2{
    font-family:'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
    
}
.registration_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.registration_fieldset{
    border: none;
    margin: 10px;
}
.registration_fieldset input{
    outline: none;
    border: 1px solid grey;
    font-family:'Quicksand', sans-serif;
    font-size: 18px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    height: 30px;
    transition: 0.4s;
}
.registration_fieldset input:hover{
    background-color: rgb(96, 202, 235);
}
.registration_button{
    width: 200px;
    height: 30px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    transition: 0.4s;
    border: 1px solid grey;
}
.registration_button:hover{
    background-color: rgb(96, 202, 235);
}
.register_line{
    width: 100%;
    height: 2px;
    margin: 60px 0 0;
    background-color: black;
}
.registration a{
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    text-align: center;
    margin-top: 40px;
}
